@model ApiRendering.Models.AadhaarInfo

@{ ViewBag.Title = "Aadhaar Search"; }

<div style="padding-top:10px;padding-bottom:25px;">
    @if (string.IsNullOrEmpty(ViewBag.Error))
        {@*<form action="~/Home/AadharSearch" method="post">*@
                        <form id="aadForm" data-ajax="true" data-ajax-method="post" asp-controller="Home" asp-action="AadharSearch" data-ajax-update="#details2">
                            <b style="color:darkblue"> Aadhar Number :</b>
                            <br />
                            @Html.TextBoxFor(model => model.aadharNumber, new { @style = "width:30% !important", @placeholder = "Eg.421654672142" }) 
                            <br />
                            @Html.ValidationMessageFor(model => model.aadharNumber)
                            <br />
                            <button class=" btn btn-primary mt-2" type="submit" onclick="ShowLoader2()">Search</button>
                        </form>     }
    </div>

    <div id="details2" style="display: none;">
    </div>
    <script>
        function ShowLoader2() {
            $("#details2").html("");
            if ($("#aadForm").valid()) {
                $("#details2").html("Loading...");
                $("#details2").show();
            }
        }</script>
