@model ApiRendering.Models.APIInput
@{
    ViewData["Title"] = "Driving License Search";
}

<h2> Driving license search </h2>
<div style="padding-top:10px;min-height:300px;">
    <form action="~/Home/DLSearch" method="post">
        Card Number :   @Html.TextBoxFor(model => model.cardNumber) <br /><br />
        Date of Birth : @Html.TextBoxFor(model => model.dob, "", new { placeholder = "dd/MM/YYYY" }) <br /><br />
        <button type="submit">Search</button>
    </form>
</div>