@model ApiRendering.Models.APIInput
@{
    ViewData["Title"] = "Vehicle Search";
}
@* <script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.js"></script> *@

<div style="padding-top:10px;padding-bottom:25px;">
    <form id="vehForm" data-ajax="true" data-ajax-method="post" asp-controller="Home" asp-action="VehicleSearch"
          data-ajax-update="#details">
        <h7><label style="color:darkblue"><b> Vehicle Number Search</b></label></h7>
        <br /><br />
        @Html.TextBoxFor(model => model.vehicleNumber)
        <br />
        <br />
        @Html.ValidationMessageFor(model => model.vehicleNumber)
        <br />
        <button class=" btn btn-primary mt-2" onclick="ShowLoader();" type="submit">Search</button>
    </form>
</div>
<div id="details" style="display: none;">
</div>

<script>
    function ShowLoader() {
        $("#details").html("");
        if ($("#vehForm").valid()) {
            $("#details").html("Loading...");
            $("#details").show();
        }
    }
</script>