@model ApiRendering.Models.APIInput
@{
    ViewData["Title"] = "Vehicle Search";
}

<h2> Vehicle search</h2>
<div style="padding-top:10px;min-height:300px;">
    <form action="~/Home/VehicleSearch" method="post">
        Vehicle No @Html.TextBoxFor(model => model.vehicleNumber) <button type="submit">Search</button>
    </form>
</div>
